@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 67% 94%;
    --foreground: 231 48% 28%;
    --card: 0 0% 100%;
    --card-foreground: 231 48% 28%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 48% 28%;
    --primary: 221 83% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 50% 90%;
    --secondary-foreground: 231 48% 28%;
    --muted: 231 50% 90%;
    --muted-foreground: 231 30% 50%;
    --accent: 45 100% 51%;
    --accent-foreground: 0 0% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 40% 88%;
    --input: 231 40% 88%;
    --ring: 221 83% 53%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 210 40% 98%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 45 100% 51%;
    --accent-foreground: 0 0% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 19%;
    --input: 0 0% 19%;
    --ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
}
